.logo {
	width: 642px;
	height: 170px;
	background: url(logo.png)  0 0 no-repeat;
}

.stripes {
	width: 642px;
	height: 45px;
	background: url(colorbar.png)  0 0 no-repeat;	
}

body {
	margin: 0;	
	width: 642px;
}

ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
}

ul.vertical li {
	width: 642px;
	text-align: center;	
}	

li.pressed {
	background-position: 0 100%, 100% 50% !important;
}

li#nearby {
	height: 117px;
	background: url(button_nearby.png)  0 0 no-repeat;	
}

li#destination {
	height: 232px;
	background: url(button_destination.png)  0 0 no-repeat;
}

li#rate {
	height: 118px;
	background: url(button_rate.png)  0 0 no-repeat;	
}

ul.horizontal, ul.horizontal li {
	height: 240px;
}

ul.horizontal li {
	float: left;	
}	

li#non-mobile {
	width: 210px;
	background: url(button_non-mobile.png)  0 0 no-repeat;	
}

li#passport {
	width: 220px;
	background: url(button_passport.png)  0 0 no-repeat;	
}

li#feedback {
	width: 210px;
	background: url(button_feedback.png)  0 0 no-repeat;	
}

div#curve {
	position:absolute;
	left:0px;
	top:682px;
	width: 642px;
	height: 85px;
	background: url(curve.png)  0 0 no-repeat;	
}

div#map_image {
	position:absolute;
	left:214px;
	top:211px;
	width: 430px;
	height: 465px;
	background: url(map.png)  0 0 no-repeat;	
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

div#map.rotate {
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         0.5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-transition-timing-function: linear;
}